@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.task-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.priority-low {
  color: green;
}
.priority-medium {
  color: orange;
}
.priority-high {
  color: red;
}

button {
  cursor: pointer;
}
